%p
= form_for @loc do |f|
  = f.label :latitude, 'Latitude'
  = f.text_field :latitude
  %br
  = f.label :longitude, 'Longitude'
  = f.text_field :longitude
  %br
  = f.label :speed, 'Speed'
  = f.text_field :speed
  %br
  = f.label :name, 'Name'
  = f.text_field :name
  %br
  %p= f.submit 'Registrar'
%p
